
<%= form_with model:@user do |f| %>

<div class="container" id='home'>
    <div class="col-sm-6 row g-3">
        <%= f.label :username, 'Create username:' %>
        <%= f.text_field :username, class: "form-control", placeholder: 'Create Userame' %>
    </div>

    <div class="col-sm-6 row g-3">
        <%= f.label :password, 'Create password:' %>
        <%= f.text_field :password, class: "form-control", placeholder: 'Create Password' %><br>
    </div>

    <div class="col-sm-5 row g-2 col-auto">
        <div class="col-sm">
            <%= f.label :name, 'Name:' %>
            <%= f.text_field :name, class: "form-control", placeholder: 'Enter Name' %>
        </div>

        <div class="col-sm">
            <%= f.label :age, 'Age:' %>
            <%= f.text_field :age, class: "form-control", placeholder: 'Enter Age' %>
        </div>

        <div class="col-sm">
            <%= f.label :hometown, 'Hometown:' %>
            <%= f.text_field :hometown, class: "form-control", placeholder: ' Hometown' %>
        </div>
    </div>

    <div class="col-sm row g-2">
        <%= f.submit 'Complete Sign Up', class: 'btn btn-dark col-6 mx-auto' %>
    </div>

</div>
<% end %>

