<h1><%= @user.name %></h1>
<p>Age: <%= @user.age %></p>
<p> Hometown: <%= @user.hometown %></p>

<%= link_to 'Edit', edit_user_path(@user), notice: 'Profile was successfully updated.'%> |
<%= link_to 'Delete', @user, method: :delete, onclick: "return confirm('Are you sure you want to delete this post?')" %>
