<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="profile" href="https://gmpg.org/xfn/11">
<link rel="pingback" href="https://demo.colorlib.com/shapely/xmlrpc.php">
<meta name='robots' content='noindex, nofollow' />
<script>window._wca = window._wca || [];</script>

<title>Front Page - Shapely Demo</title><style id="rocket-critical-css">.screen-reader-text{border:0;clip:rect(1px,1px,1px,1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;overflow-wrap:normal!important;word-wrap:normal!important;padding:0;position:absolute!important;width:1px}:root{--woocommerce:#a46497;--wc-green:#7ad03a;--wc-red:#a00;--wc-orange:#ffba00;--wc-blue:#2ea2cc;--wc-primary:#a46497;--wc-primary-text:white;--wc-secondary:#ebe9eb;--wc-secondary-text:#515151;--wc-highlight:#77a464;--wc-highligh-text:white;--wc-content-bg:#fff;--wc-subtext:#767676}:root{--woocommerce:#a46497;--wc-green:#7ad03a;--wc-red:#a00;--wc-orange:#ffba00;--wc-blue:#2ea2cc;--wc-primary:#a46497;--wc-primary-text:white;--wc-secondary:#ebe9eb;--wc-secondary-text:#515151;--wc-highlight:#77a464;--wc-highligh-text:white;--wc-content-bg:#fff;--wc-subtext:#767676}.screen-reader-text{clip:rect(1px,1px,1px,1px);height:1px;overflow:hidden;position:absolute!important;width:1px;word-wrap:normal!important}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}header,nav,section{display:block}a{background-color:transparent}h1{margin:.67em 0;font-size:2em}img{border:0}button,input{margin:0;font:inherit;color:inherit}button{overflow:visible}button{text-transform:none}button{-webkit-appearance:button}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}input{line-height:normal}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:10px}body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}button,input{font-family:inherit;font-size:inherit;line-height:inherit}a{color:#337ab7;text-decoration:none}img{vertical-align:middle}h1{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}h1{margin-top:20px;margin-bottom:10px}h1{font-size:36px}p{margin:0 0 10px}.text-center{text-align:center}ul{margin-top:0;margin-bottom:10px}ul ul{margin-bottom:0}.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.row{margin-right:-15px;margin-left:-15px}.col-md-8,.col-sm-10{position:relative;min-height:1px;padding-right:15px;padding-left:15px}@media (min-width:768px){.col-sm-10{float:left}.col-sm-10{width:83.33333333%}.col-sm-offset-1{margin-left:8.33333333%}}@media (min-width:992px){.col-md-8{float:left}.col-md-8{width:66.66666667%}.col-md-offset-2{margin-left:16.66666667%}}label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:700}.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;background-image:none;border:1px solid transparent;border-radius:4px}.btn-lg{padding:10px 16px;font-size:18px;line-height:1.3333333;border-radius:6px}.collapse{display:none}.dropdown{position:relative}.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175)}.dropdown-menu>li>a{display:block;padding:3px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:nowrap}.navbar-collapse{padding-right:15px;padding-left:15px;overflow-x:visible;-webkit-overflow-scrolling:touch;border-top:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1);box-shadow:inset 0 1px 0 rgba(255,255,255,.1)}@media (min-width:768px){.navbar-collapse{width:auto;border-top:0;-webkit-box-shadow:none;box-shadow:none}.navbar-collapse.collapse{display:block!important;height:auto!important;padding-bottom:0;overflow:visible!important}}.container:after,.container:before,.navbar-collapse:after,.navbar-collapse:before,.row:after,.row:before{display:table;content:" "}.container:after,.navbar-collapse:after,.row:after{clear:both}@-ms-viewport{width:device-width}.visible-sm,.visible-xs{display:none!important}@media (max-width:767px){.visible-xs{display:block!important}}@media (min-width:768px) and (max-width:991px){.visible-sm{display:block!important}}@media (max-width:767px){.hidden-xs{display:none!important}}@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none!important}}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}header,nav,section{display:block}a{background-color:transparent}h1{font-size:2em;margin:.67em 0}img{border:0}button,input{color:inherit;font:inherit;margin:0}button{overflow:visible}button{text-transform:none}button{-webkit-appearance:button}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}button,input{color:#404040;font-family:sans-serif;font-size:14px;line-height:1.5}h1{clear:both}p{margin-bottom:1.5em}i{font-style:italic}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}body{background:#fff}ul{margin:0 0 1.5em 3em}ul{list-style:disc}li>ul{margin-bottom:0;margin-left:1.5em}img{height:auto;max-width:100%}input[type=text]{color:#666;border:1px solid #ccc;border-radius:3px}input[type=text]{padding:3px}a,a:visited{color:#745cf9;font-weight:600}a,a:visited{text-decoration:none}.main-navigation{clear:both;display:block;width:100%;padding:10px 0}.main-navigation ul{display:none;list-style:none;margin:0;padding-left:0}.main-navigation li{float:left;position:relative}.main-navigation a{display:block;text-decoration:none}.main-navigation ul ul{box-shadow:0 3px 3px rgba(0,0,0,.2);float:left;position:absolute;top:1.5em;left:-999em;z-index:99999}.main-navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul a{width:200px}.main-navigation ul ul li{width:100%}@media screen and (min-width:992px){.main-navigation ul{display:block}}.site-title{font-size:24px;line-height:52px;color:#666;font-weight:300}#site-navigation .module.left{padding-left:15px}#site-navigation .container>.flex-row{display:flex;align-items:center;justify-content:space-between}.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden}.site-header:before,.site-header:after{content:"";display:table;table-layout:fixed}.site-header:after{clear:both}.widget{margin:0 0 1.5em}body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:14px;line-height:24px;font-family:raleway,helvetica neue,Helvetica,Arial,sans-serif;color:#8c979e;overflow-x:hidden;font-weight:400}ul{list-style:disc}.main-container{clear:both}.right{right:0}.container{position:relative}.align-transform{position:relative;transform:translate3d(0,-50%,0);-webkit-transform:translate3d(0,-50%,0);top:50%;z-index:2}h1,p,ul,input{margin-bottom:24px;margin-top:0;padding:0}h1{font-family:inherit}h1{font-weight:400;color:#0e1015}h1{font-size:60px;line-height:64px}@media all and (max-width:767px){h1{font-size:32px;line-height:40px;font-weight:300}}p,span{font-weight:400}@media all and (max-width:767px){p{font-size:12px}}.image-bg a{color:#fff}section{padding:96px 0;position:relative;overflow:hidden}.page-template-page-templatestemplate-home-php .content-area{padding:0}.fullscreen{height:100vh}.bg-dark span,footer.bg-dark span{color:#fefefe}@media all and (max-width:767px){section{padding:80px 0}}.image-bg h1{color:#fff}.image-bg p{color:#fff}.image-bg div[class*=col-]{position:relative;z-index:3}.btn{font-family:inherit;border:2px solid #745cf9;padding:0 26px;min-width:150px;line-height:36px;font-size:12px;font-weight:700;text-transform:uppercase;letter-spacing:1px;border-radius:0;color:#745cf9;text-align:center;margin-right:8px;margin-bottom:24px;white-space:normal}.btn:last-child,.btn:last-of-type{margin-right:0}.btn-lg{line-height:24px;min-width:200px;padding-bottom:13px;padding-top:13px}.btn-filled{background:#745cf9;color:#fff}.btn-white,.image-bg .btn,.image-bg .btn:visited{color:#fff;border-color:#fff}.image-bg .btn.btn-filled{background:#745cf9;color:#fff;border-color:#745cf9}.btn:visited{color:#745cf9}.btn-white:visited{color:#fff}.btn-filled:visited{color:#fff}.nav-container{-webkit-backface-visibility:hidden;max-width:100%}nav{-webkit-backface-visibility:hidden;max-width:100%}nav ul{margin-bottom:0}.module{display:inline-block;padding:0 32px}.module-group{display:inline-block}.module.left{float:left}.module.right,.module-group.right{float:right}.nav-bar{line-height:53px}nav{border-bottom:1px solid rgba(0,0,0,.1);background-color:#fff}.nav-bar .module:not(.site-title-container),.nav-bar .module-group{height:55px}.nav-bar a:not(.custom-logo-link){display:inline-block;height:55px}.menu>li.dropdown{padding-right:18px}.dropdown:after{position:absolute;top:0;right:0;font-size:11px;content:"\f107";font-family:fontawesome;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none}.shapely-dropdown{display:none}.main-navigation .menu{width:100%;height:55px}.main-navigation .menu li a{font-size:13px;text-transform:uppercase;font-weight:500;letter-spacing:-1px;color:#4c4c4c;max-width:100%;white-space:normal}.main-navigation .menu>li{margin-right:32px;float:left;position:relative;opacity:1;color:#4c4c4c}.main-navigation .menu>li:last-child{margin-right:0}.main-navigation .menu>li ul{left:0;width:200px;padding:0;background:#0e1015;position:absolute;z-index:99;top:100%;opacity:0;transform:translate3d(0,10px,0);-webkit-transform:translate3d(0,10px,0);-moz-transform:translate3d(0,10px,0);visibility:hidden;margin-top:-1px}.main-navigation .menu>li>ul>li{position:relative;line-height:24px;width:100%;vertical-align:top}.main-navigation .menu>li>ul .dropdown:after{color:#0e1015;top:1px;right:24px;content:"\f105"}.main-navigation .menu>li>ul li a{color:#fff;height:auto;padding:6px 24px}.main-navigation .menu>li>ul>li ul{left:100%;top:0}@media all and (max-width:1024px){.dropdown:after{display:none}.shapely-dropdown{font-size:11px;padding:0 10px;display:inline-block}}@media all and (min-width:991px) and (max-width:1024px){.dropdown-menu .shapely-dropdown{position:absolute;top:0;right:0}.dropdown-menu .shapely-dropdown>.fa-angle-down:before{content:"\f105"}}@media all and (max-width:991px){.shapely-dropdown{float:right;border:1px solid}.menu li a{padding:10px 0}#site-navigation.main-navigation .menu>li>ul li a{width:auto;display:inline-block}}.nav-container{min-height:56px}.dropdown-menu{border-radius:0}.module.widget-handle{padding:0 5px;position:relative;-webkit-touch-callout:none;margin:0}@media all and (max-width:1100px){.module.widget-handle{padding:0 16px}}.module.widget-handle i{font-size:14px;line-height:53px;opacity:1;color:#3a52bf}.widget-handle .function{-webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.2);-moz-box-shadow:0 0 10px 0 rgba(0,0,0,.2);box-shadow:0 0 10px 0 rgba(0,0,0,.2);width:200px;background:#0e1015;position:absolute;z-index:99;opacity:0;transform:translate3d(0,-200%,0);-webkit-transform:translate3d(0,-200%,0);-moz-transform:translate3d(0,-200%,0);margin-top:-2px;right:0}.module.widget-handle .title{font-family:inherit;letter-spacing:1px;text-transform:uppercase;font-size:11px;font-weight:600;display:none;opacity:.5}.search-form{padding:8px;display:inline-block;width:100%;line-height:50px}.widget-handle .search-form input[type=text]{font-size:16px;float:left;width:70%}.search-form input[type=text]{font-size:14px;margin:0}.widget-handle .function{background:#fff;width:300px}.search-widget-handle .search{background:0 0;border:none}.search-widget-handle button.searchsubmit{min-width:17%;padding:0;width:27%;height:50px;line-height:48px;margin:-2px 0 0 8px}.search-widget-handle button.searchsubmit .screen-reader-text{position:relative!important;width:auto;height:auto;clip:initial;clip-path:none;-webkit-clip-path:none}.main-navigation .menu>li ul{background:#fff}.main-navigation .menu>li ul{background:#fff}.main-navigation .menu>li>ul li a{color:#8c979e;width:100%;font-size:14px;text-transform:none;font-weight:400}@media all and (max-width:1120px){.main-navigation .menu>li{margin-right:24px}}@media all and (min-width:992px){.nav-bar .module-group{height:auto}}@media all and (max-width:991px){.site-title-container{width:84%}.nav-bar,.nav-bar .module-group,.nav-bar .module,.nav-bar .module:not(.site-title-container){height:auto}.nav-bar .module{padding:0 16px}.nav-bar .module-group{width:100%}.nav-bar .module-group .module{display:block;float:none;width:100%}.main-navigation .menu{height:auto}.main-navigation .menu a{height:auto;line-height:24px;padding:4px 0}.main-navigation .menu li{line-height:24px;display:block;width:100%;max-width:100%}.main-navigation .menu>li ul{position:relative;width:100%;opacity:1;visibility:visible;transform:translate3d(0,0px,0);-webkit-transform:translate3d(0,0px,0);-moz-transform:translate3d(0,0px,0);left:0;border:0!important;box-shadow:none}.main-navigation .menu>li>ul{position:relative;opacity:1;visibility:visible;display:none;transform:translate3d(0,0px,0);-webkit-transform:translate3d(0,0px,0);-moz-transform:translate3d(0,0px,0)}.main-navigation .menu>li>ul .dropdown:after{content:"\f107"}.main-navigation .menu>li>ul>li ul{left:0!important;display:none;padding:0}.main-navigation .menu>li>ul li a{padding:10px 16px}.main-navigation .dropdown .dropdown li{padding-left:18px}.main-navigation .dropdown{padding-right:0}.module.widget-handle{border-left:none;line-height:40px;min-height:40px}.module.widget-handle i{line-height:40px}.module.widget-handle .title{display:inline-block;position:relative;bottom:3px;margin-left:8px}.widget-handle .function{width:100%;max-width:300px;position:relative;opacity:1;transform:translate3d(0,0px,0);-webkit-transform:translate3d(0,0px,0);-moz-transform:translate3d(0,0px,0);visibility:visible;margin-top:0;display:none;box-shadow:none!important}.search-widget-handle .search{padding:0 15px}.mobile-toggle{border:none;background:0 0}.mobile-toggle i{line-height:53px!important}#site-navigation .container>.flex-row{flex-wrap:wrap}.navbar-collapse{margin-top:20px}}input{font-family:inherit}input[type=text]{-webkit-appearance:none;-moz-appearance:none;appearance:none}input[type=text]{background:#f5f5f5;border:1px solid #eee;width:100%;height:50px;padding-left:20px;font-weight:500;margin-bottom:24px;border-radius:0}:-moz-placeholder{text-transform:uppercase;font-weight:700;letter-spacing:1px;color:#777;font-size:11px}::-moz-placeholder{text-transform:uppercase;font-weight:700;letter-spacing:1px;color:#777;font-size:11px}:-ms-input-placeholder{text-transform:uppercase;font-weight:700;letter-spacing:1px;color:#777;font-size:11px}button[type=submit]{background:#745cf9;border-radius:0!important;border:2px solid #745cf9;color:#fff;font-size:11px;font-weight:700;height:50px;letter-spacing:1px;line-height:48px;max-width:250px;padding:0;text-transform:uppercase;width:100%}.search-widget-handle button[type=submit] i{display:none}.widget{margin-bottom:0}img{max-width:100%}.cover{margin:0;padding:0}.cover p{color:#fff}.cover:first-child .fullscreen{max-height:100%}@media all and (max-width:767px){.cover.fullscreen{height:auto;padding:0}}.mb32{margin-bottom:32px}.parallax-window{background:0 0}.image-bg a{color:#745cf9}#social .social_icon span{display:none}.shapely_home_parallax{width:100%;display:block}.screen-reader-text{border:0;clip:rect(1px,1px,1px,1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute!important;width:1px;word-wrap:normal!important}.screen-reader-text{border:0;clip:rect(1px,1px,1px,1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute!important;width:1px;word-wrap:normal!important}</style>
<meta name="robots" content="noindex, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Front Page - Shapely Demo" />
<meta property="og:url" content="https://demo.colorlib.com/shapely/" />
<meta property="og:site_name" content="Shapely Demo" />
<meta property="article:author" content="http://facebook.com/silkalns" />
<meta property="article:modified_time" content="2020-10-21T13:37:42+00:00" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@https://twitter.com/ASilkalns" />
<script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"https://demo.colorlib.com/shapely/#website","url":"https://demo.colorlib.com/shapely/","name":"Shapely Demo","description":"Shapely - Free One Page WordPress Theme","potentialAction":[{"@type":"SearchAction","target":"https://demo.colorlib.com/shapely/?s={search_term_string}","query-input":"required name=search_term_string"}],"inLanguage":"en-US"},{"@type":"WebPage","@id":"https://demo.colorlib.com/shapely/#webpage","url":"https://demo.colorlib.com/shapely/","name":"Front Page - Shapely Demo","isPartOf":{"@id":"https://demo.colorlib.com/shapely/#website"},"datePublished":"2017-04-19T16:21:02+00:00","dateModified":"2020-10-21T13:37:42+00:00","inLanguage":"en-US","potentialAction":[{"@type":"ReadAction","target":["https://demo.colorlib.com/shapely/"]}]}]}</script>

<link rel='dns-prefetch' href='//stats.wp.com' />
<link rel='dns-prefetch' href='//secure.gravatar.com' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//v0.wordpress.com' />
<link href='https://fonts.gstatic.com' crossorigin rel='preconnect' />
<link rel="alternate" type="application/rss+xml" title="Shapely Demo &raquo; Feed" href="https://demo.colorlib.com/shapely/feed/" />
<link rel="alternate" type="application/rss+xml" title="Shapely Demo &raquo; Comments Feed" href="https://demo.colorlib.com/shapely/comments/feed/" />
<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='preload' href='https://demo.colorlib.com/shapely/wp-includes/css/dist/block-library/style.min.css?ver=5.7.1' data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" type='text/css' media='all' />
<style id='wp-block-library-inline-css' type='text/css'>
.has-text-align-justify{text-align:justify;}
</style>
<link data-minify="1" rel='preload' href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/vendors-style.css?ver=1619443895' data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" type='text/css' media='all' />
<link data-minify="1" rel='preload' href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style.css?ver=1619443895' data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" type='text/css' media='all' />
<link data-minify="1" rel='preload' href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=1619443895' data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" type='text/css' media='all' />
<link data-minify="1" rel='preload' href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/social-counter/styles/prisna-social-counter.css?ver=1619443895' data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" type='text/css' media='all' />
<link data-minify="1" rel='preload' href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=1619443895' data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" type='text/css' media='all' />
<style id='woocommerce-layout-inline-css' type='text/css'>

	.infinite-scroll .woocommerce-pagination {
		display: none;
	}
</style>
<link data-minify="1" rel='preload' href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=1619443895' data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" type='text/css' media='only screen and (max-width: 768px)' />
<link data-minify="1" rel='preload' href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=1619443895' data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" type='text/css' media='all' />
<style id='woocommerce-inline-inline-css' type='text/css'>
.woocommerce form .form-row .required { visibility: visible; }
</style>
<link data-minify="1" rel='preload' href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/themes/shapely/assets/css/bootstrap.min.css?ver=1619443895' data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" type='text/css' media='all' />
<link data-minify="1" rel='preload' href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/elementor/assets/lib/font-awesome/css/font-awesome.min.css?ver=1619443895' data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" type='text/css' media='all' />
<link crossorigin="anonymous" rel='preload' href='//fonts.googleapis.com/css?family=Raleway%3A100%2C300%2C400%2C500%2C600%2C700&#038;ver=5.7.1&#038;display=swap' data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" type='text/css' media='all' />
<link data-minify="1" rel='preload' href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/themes/shapely/assets/css/flexslider.css?ver=1619443895' data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" type='text/css' media='all' />
<link data-minify="1" rel='preload' href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/themes/shapely/style.css?ver=1619443895' data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" type='text/css' media='all' />
<link rel='preload' href='https://demo.colorlib.com/shapely/wp-content/themes/shapely/assets/js/owl-carousel/owl.carousel.min.css?ver=5.7.1' data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" type='text/css' media='all' />
<link data-minify="1" rel='preload' href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/themes/shapely/assets/js/owl-carousel/owl.theme.default.css?ver=1619443895' data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" type='text/css' media='all' />
<link data-minify="1" rel='preload' href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/jetpack/css/jetpack.css?ver=1619443895' data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" type='text/css' media='all' />
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-includes/js/jquery/jquery.min.js?ver=3.5.1' id='jquery-core-js'></script>
<script defer type='text/javascript' src='https://stats.wp.com/s-202117.js' id='woocommerce-analytics-js'></script>
<link rel="https://api.w.org/" href="https://demo.colorlib.com/shapely/wp-json/" /><link rel="alternate" type="application/json" href="https://demo.colorlib.com/shapely/wp-json/wp/v2/pages/1863" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://demo.colorlib.com/shapely/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://demo.colorlib.com/shapely/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 5.7.1" />
<meta name="generator" content="WooCommerce 5.2.2" />
<link rel='shortlink' href='https://wp.me/PcYi56-u3' />
<link rel="alternate" type="application/json+oembed" href="https://demo.colorlib.com/shapely/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fdemo.colorlib.com%2Fshapely%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://demo.colorlib.com/shapely/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fdemo.colorlib.com%2Fshapely%2F&#038;format=xml" />
<style type='text/css'>img#wpstats{display:none}</style>
<style type="text/css"></style> <noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
<style type="text/css">
				/* If html does not have either class, do not show lazy loaded images. */
				html:not( .jetpack-lazy-images-js-enabled ):not( .js ) .jetpack-lazy-image {
					display: none;
				}
			</style>
<script>
				document.documentElement.classList.add(
					'jetpack-lazy-images-js-enabled'
				);
			</script>
 <style type="text/css" id="wp-custom-css">
				span.dropdown-toggle.shapely-dropdown {
    display: none;
}			</style>
<script>
/*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
(function(w){"use strict";if(!w.loadCSS){w.loadCSS=function(){}}
var rp=loadCSS.relpreload={};rp.support=(function(){var ret;try{ret=w.document.createElement("link").relList.supports("preload")}catch(e){ret=!1}
return function(){return ret}})();rp.bindMediaToggle=function(link){var finalMedia=link.media||"all";function enableStylesheet(){link.media=finalMedia}
if(link.addEventListener){link.addEventListener("load",enableStylesheet)}else if(link.attachEvent){link.attachEvent("onload",enableStylesheet)}
setTimeout(function(){link.rel="stylesheet";link.media="only x"});setTimeout(enableStylesheet,3000)};rp.poly=function(){if(rp.support()){return}
var links=w.document.getElementsByTagName("link");for(var i=0;i<links.length;i++){var link=links[i];if(link.rel==="preload"&&link.getAttribute("as")==="style"&&!link.getAttribute("data-loadcss")){link.setAttribute("data-loadcss",!0);rp.bindMediaToggle(link)}}};if(!rp.support()){rp.poly();var run=w.setInterval(rp.poly,500);if(w.addEventListener){w.addEventListener("load",function(){rp.poly();w.clearInterval(run)})}else if(w.attachEvent){w.attachEvent("onload",function(){rp.poly();w.clearInterval(run)})}}
if(typeof exports!=="undefined"){exports.loadCSS=loadCSS}
else{w.loadCSS=loadCSS}}(typeof global!=="undefined"?global:this))
</script></head>
<body class="home page-template page-template-page-templates page-template-template-home page-template-page-templatestemplate-home-php page page-id-1863 theme-shapely woocommerce-no-js has-sidebar-right elementor-default elementor-kit-2257">
<div id="page" class="site">
<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
<div id="content" class="main-container">
<section class="content-area ">
<div id="main" class="" role="main">
<div id="shapely_home_parallax-2" class="widget shapely_home_parallax"> <section class="cover fullscreen image-bg">
<div class="parallax-window fullscreen" data-parallax="scroll" data-image-src="https://wallpaper.dog/large/10708735.jpg" data-ios-fix="true" data-over-scroll-fix="true" data-android-fix="true">
<div class="align-transform">
<div class="row">
<div class="top-parallax-section">
<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
<h1>Discover the world!</h1><div class="mb32"><p> Once the travel bug bites, there is no known antidote. </p>
</div><a class="btn btn-lg btn-white" href="#wall">Explore</a> </div>
</div>

</div>
</div>
</div>
</section>
<div class="clearfix"></div>
</div><div id="shapely_home_parallax-3" class="widget shapely_home_parallax"> <section class="">
<div class="container">
<div class="row align-children">
<section id="wall" class="pt-5 pb-5">
  <div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="mb-3"> Paradise On Earth </h3>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators3" role="button" data-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators3" role="button" data-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="col-12">
        <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                            <a href="<%= packages_path({:name => "Tanzania"}) %>">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src="https://images.thrillophilia.com/image/upload/s--oZ-IsAOW--/c_fill,h_600,q_auto,w_975/f_auto,fl_strip_profile/v1/images/photos/000/336/659/original/1597060847_shutterstock_1019833633.jpg.jpg?1597060847">
                                    <div class="card-body">
                                        <h4 class="card-title">Tanzania</h4>
                                        <p class="card-text">Tanzania can be considered as a canvas of natural beauty. It happens to be one of the most ethnically, religiously, and linguistically diverse countries in Africa. </p>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                 <a href="<%= packages_path({:name => "Europe"}) %>">
                                    <img class="img-fluid" alt="100%x280" src="https://images.thrillophilia.com/image/upload/s--nILwhnWS--/c_fill,h_600,q_auto,w_975/f_auto,fl_strip_profile/v1/images/photos/000/331/427/original/1594886085_Mt._Titlis_1.jpg.jpg?1594886075">
                                    <div class="card-body">
                                        <h4 class="card-title">Europe</h4>
                                        <p class="card-text">Enjoy a week in Europe with your family and explore the 5 countries in 8 days with our Europe tour package for family.</p>
                                    </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                <a href="<%= packages_path({:name => "London & Edinburgh"}) %>">
                                    <img class="img-fluid" alt="100%x280" src="https://images.thrillophilia.com/image/upload/s--kosMaYTg--/c_fill,h_600,q_auto,w_975/f_auto,fl_strip_profile/v1/images/photos/000/331/072/original/1594788550_Madame_Tussauds_Wax_Museum.jpg.jpg?1594788550">
                                    <div class="card-body">
                                        <h4 class="card-title">London & Edinburgh </h4>
                                        <p class="card-text">With supportincg text below as a natural lead-in to additional content.</p>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                <a href="<%= packages_path({:name => "Australia"}) %>">
                                    <img class="img-fluid" alt="100%x280" src="https://images.thrillophilia.com/image/upload/s--lAtvieK4--/c_fill,h_600,q_auto,w_975/f_auto,fl_strip_profile/v1/images/photos/000/173/446/original/1570610472_0.jpg.jpg?1570610472">
                                    <div class="card-body">
                                        <h4 class="card-title">Australia</h4>
                                        <p class="card-text">Explore the best of Sydney.</p>
                                    </div>
                                </a>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                <a href="<%= packages_path({:name => "South Africa"}) %>">
                                    <img class="img-fluid" alt="100%x280" src="https://images.thrillophilia.com/image/upload/s--MuOcvpI3--/c_fill,h_600,q_auto,w_975/f_auto,fl_strip_profile/v1/images/photos/000/334/837/original/1595846778_Cape_Point.jpg.jpg?1595846778">
                                    <div class="card-body">
                                        <h4 class="card-title">South Africa</h4>
                                        <p class="card-text">South Africa is considered to be one of the most geographically varied counties in the world that ranges from fertile plains to wide-open savannah</p>
                                    </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                <a href="<%= packages_path({:name => "Egypt"}) %>">
                                    <img class="img-fluid" alt="100%x280" src="https://images.thrillophilia.com/image/upload/s--1OHFqJYq--/c_fill,h_600,q_auto,w_975/f_auto,fl_strip_profile/v1/images/photos/000/334/728/original/1595842233_Khan_El-Khalili_Bazaar.jpg.jpg?1595842233">
                                    <div class="card-body">
                                        <h4 class="card-title">Egypt</h4>
                                        <p class="card-text">The land of the Pharaohs, Pyramids, ancient Kingdoms and rich heritage, this is Egypt where you and your loved ones can spend a beautiful 7-day vacation </p>
                                    </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

</div>
</div>
</section>
<div class="clearfix"></div>
</div><div id="shapely_home_parallax-3" class="widget shapely_home_parallax"> <section class="">
<div class="container">
<div class="row align-children">

<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="mb-3"> Exotic Getaways </h3>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators3" role="button" data-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators3" role="button" data-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="col-12">
        <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                            <a href="<%= packages_path({:name => "Tanzania"}) %>">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src="https://www.planetware.com/photos-large/TZA/tanzania-mount-kilimanjaro.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title"> Tanzania: Inside Jungle Book </h4>
                                        <p class="card-text">Tanzania can be considered as a canvas of natural beauty. It happens to be one of the most ethnically, religiously, and linguistically diverse countries in Africa. </p>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                 <a href="<%= packages_path({:name => "Europe"}) %>">
                                    <img class="img-fluid" alt="100%x280" src="https://wallpapercave.com/wp/wp2841016.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title"> The Peninsula of Peninsulas</h4>
                                        <p class="card-text">Enjoy a week in Europe with your family and explore the 5 countries in 8 days with our Europe tour package for family.</p>
                                    </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                <a href="<%= packages_path({:name => "London & Edinburgh"}) %>">
                                    <img class="img-fluid" alt="100%x280" src="https://images7.alphacoders.com/408/thumb-1920-408397.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title"> London  </h4>
                                        <p class="card-text">With supportincg text below as a natural lead-in to additional content.</p>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                <a href="<%= packages_path({:name => "Australia"}) %>">
                                    <img class="img-fluid" alt="100%x280" src="https://www.teahub.io/photos/full/358-3589180_sonneneinfall-auf-korallen-great-barrier-reef-quensland-great.jpgz">
                                    <div class="card-body">
                                        <h4 class="card-title">Oceania - Paradise on Earth</h4>
                                        <p class="card-text">Explore the best of Sydney.</p>
                                    </div>
                                </a>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                <a href="<%= packages_path({:name => "South Africa"}) %>">
                                    <img class="img-fluid" alt="100%x280" src="https://wallpaperaccess.com/full/1350278.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Africa - Into The Wild</h4>
                                        <p class="card-text">South Africa is considered to be one of the most geographically varied counties in the world that ranges from fertile plains to wide-open savannah</p>
                                    </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                <a href="<%= packages_path({:name => "Egypt"}) %>">
                                    <img class="img-fluid" alt="100%x280" src="https://wallpapercave.com/wp/VWaEtYJ.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">Egypt - Where It All Begins</h4>
                                        <p class="card-text">The land of the Pharaohs, Pyramids, ancient Kingdoms and rich heritage, this is Egypt where you and your loved ones can spend a beautiful 7-day vacation </p>
                                    </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

</div>
</section>
<div class="clearfix"></div>
</div><div id="shapely_home_portfolio-2" class="widget shapely_home_portfolio"> <section class="projects pb0" style="background-color:#0e1015">
<div class="container">
<div class="col-sm-12 text-center">
<h3 class="mb32" style="color:#ffffff">Choose Unique Experiences</h3>
<p class="mb40" style="color:#ffffff">Choose from our handpicked experiences!</p>
</div>
</div>
<div class="row masonry-loader fixed-center fadeOut">
<div class="col-sm-12 text-center">
<div class="spinner"></div>
</div>
</div>
<div class="row fadeIn masonry masonryFlyIn">
<div class="col-md-3 col-sm-6 project fadeIn masonry-item">
<div class="image-tile inner-title hover-reveal text-center" style="">
<%# <a href="https://demo.colorlib.com/shapely/portfolio/project-15/" title="Project #15"> %>
<img width="1200" height="837" src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/12/photo-1443890484047-5eaa67d1d630-1.jpg" class="attachment-full size-full wp-post-image jetpack-lazy-image" alt="" loading="lazy" data-lazy-srcset="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/12/photo-1443890484047-5eaa67d1d630-1.jpg 1200w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/12/photo-1443890484047-5eaa67d1d630-1-300x209.jpg 300w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/12/photo-1443890484047-5eaa67d1d630-1-768x536.jpg 768w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/12/photo-1443890484047-5eaa67d1d630-1-1024x714.jpg 1024w" data-lazy-sizes="(max-width: 1200px) 100vw, 1200px" data-lazy-src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/12/photo-1443890484047-5eaa67d1d630-1.jpg?is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /> <div class="title">
<%# <h5 class="mb0">Project #15</h5>  %>
</div>
</a>
</div>
</div>
<div class="col-md-3 col-sm-6 project fadeIn masonry-item">
<div class="image-tile inner-title hover-reveal text-center" style="">
<%# <a href="https://demo.colorlib.com/shapely/portfolio/project-14/" title="Project #14"> %>
<img width="1200" height="837" src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1422568374078-27d3842ba676-1.jpg" class="attachment-full size-full wp-post-image jetpack-lazy-image" alt="" loading="lazy" data-lazy-srcset="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1422568374078-27d3842ba676-1.jpg 1200w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1422568374078-27d3842ba676-1-300x209.jpg 300w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1422568374078-27d3842ba676-1-768x536.jpg 768w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1422568374078-27d3842ba676-1-1024x714.jpg 1024w" data-lazy-sizes="(max-width: 1200px) 100vw, 1200px" data-lazy-src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1422568374078-27d3842ba676-1.jpg?is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /> <div class="title">
<%# <h5 class="mb0">Project #14</h5>  %>
</div>
</a>
</div>
</div>
<div class="col-md-3 col-sm-6 project fadeIn masonry-item">
<div class="image-tile inner-title hover-reveal text-center" style="">
<a href="https://demo.colorlib.com/shapely/portfolio/project-13/" title="Project #13">
<img width="1200" height="853" src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1447834353189-91c48abf20e1-1-1.jpg" class="attachment-full size-full wp-post-image jetpack-lazy-image" alt="" loading="lazy" data-lazy-srcset="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1447834353189-91c48abf20e1-1-1.jpg 1200w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1447834353189-91c48abf20e1-1-1-300x213.jpg 300w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1447834353189-91c48abf20e1-1-1-768x546.jpg 768w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1447834353189-91c48abf20e1-1-1-1024x728.jpg 1024w" data-lazy-sizes="(max-width: 1200px) 100vw, 1200px" data-lazy-src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1447834353189-91c48abf20e1-1-1.jpg?is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /> <div class="title">
<%# <h5 class="mb0">Project #13</h5>  %>
</div>
</a>
</div>
</div>
<div class="col-md-3 col-sm-6 project fadeIn masonry-item">
<div class="image-tile inner-title hover-reveal text-center" style="">
<%# <a href="https://demo.colorlib.com/shapely/portfolio/project-12-2/" title="Project #12"> %>
<img width="1200" height="853" src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/12/photo-1447877085163-3cce903855cd-1.jpg" class="attachment-full size-full wp-post-image jetpack-lazy-image" alt="" loading="lazy" data-lazy-srcset="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/12/photo-1447877085163-3cce903855cd-1.jpg 1200w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/12/photo-1447877085163-3cce903855cd-1-300x213.jpg 300w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/12/photo-1447877085163-3cce903855cd-1-768x546.jpg 768w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/12/photo-1447877085163-3cce903855cd-1-1024x728.jpg 1024w" data-lazy-sizes="(max-width: 1200px) 100vw, 1200px" data-lazy-src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/12/photo-1447877085163-3cce903855cd-1.jpg?is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /> <div class="title">
 </div>
</a>
</div>
</div>
<div class="col-md-3 col-sm-6 project fadeIn masonry-item">
<div class="image-tile inner-title hover-reveal text-center" style="">
<%# <a href="https://demo.colorlib.com/shapely/portfolio/project-12/" title="Project #12"> %>
<img width="1200" height="853" src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1447958374760-1ce70cf11ee3-1-1.jpg" class="attachment-full size-full wp-post-image jetpack-lazy-image" alt="" loading="lazy" data-lazy-srcset="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1447958374760-1ce70cf11ee3-1-1.jpg 1200w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1447958374760-1ce70cf11ee3-1-1-300x213.jpg 300w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1447958374760-1ce70cf11ee3-1-1-768x546.jpg 768w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1447958374760-1ce70cf11ee3-1-1-1024x728.jpg 1024w" data-lazy-sizes="(max-width: 1200px) 100vw, 1200px" data-lazy-src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1447958374760-1ce70cf11ee3-1-1.jpg?is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /> <div class="title">
 </div>
</a>
</div>
</div>
<div class="col-md-3 col-sm-6 project fadeIn masonry-item">
<div class="image-tile inner-title hover-reveal text-center" style="">
<%# <a href="https://demo.colorlib.com/shapely/portfolio/project-11/" title="Project #11"> %>
<img width="1200" height="837" src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1430329429612-babb42f88673-1-1.jpg" class="attachment-full size-full wp-post-image jetpack-lazy-image" alt="" loading="lazy" data-lazy-srcset="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1430329429612-babb42f88673-1-1.jpg 1200w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1430329429612-babb42f88673-1-1-300x209.jpg 300w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1430329429612-babb42f88673-1-1-768x536.jpg 768w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1430329429612-babb42f88673-1-1-1024x714.jpg 1024w" data-lazy-sizes="(max-width: 1200px) 100vw, 1200px" data-lazy-src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1430329429612-babb42f88673-1-1.jpg?is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /> <div class="title">
 </div>
</a>
</div>
</div>
<div class="col-md-3 col-sm-6 project fadeIn masonry-item">
<div class="image-tile inner-title hover-reveal text-center" style="">
<%# <a href="https://demo.colorlib.com/shapely/portfolio/project-10/" title="Project #10"> %>
<img width="1200" height="853" src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1449057528837-7ca097b3520c-1-1.jpg" class="attachment-full size-full wp-post-image jetpack-lazy-image" alt="" loading="lazy" data-lazy-srcset="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1449057528837-7ca097b3520c-1-1.jpg 1200w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1449057528837-7ca097b3520c-1-1-300x213.jpg 300w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1449057528837-7ca097b3520c-1-1-768x546.jpg 768w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1449057528837-7ca097b3520c-1-1-1024x728.jpg 1024w" data-lazy-sizes="(max-width: 1200px) 100vw, 1200px" data-lazy-src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1449057528837-7ca097b3520c-1-1.jpg?is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /> <div class="title">
<%# <h5 class="mb0">Project #10</h5>  %>
</div>
</a>
</div>
</div>
<div class="col-md-3 col-sm-6 project fadeIn masonry-item">
<div class="image-tile inner-title hover-reveal text-center" style="">
<%# <a href="https://demo.colorlib.com/shapely/portfolio/project-9/" title="Project #9"> %>
<img width="1200" height="837" src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1449168013943-3a15804bb41c-1-1.jpg" class="attachment-full size-full wp-post-image jetpack-lazy-image" alt="" loading="lazy" data-lazy-srcset="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1449168013943-3a15804bb41c-1-1.jpg 1200w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1449168013943-3a15804bb41c-1-1-300x209.jpg 300w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1449168013943-3a15804bb41c-1-1-768x536.jpg 768w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1449168013943-3a15804bb41c-1-1-1024x714.jpg 1024w" data-lazy-sizes="(max-width: 1200px) 100vw, 1200px" data-lazy-src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1449168013943-3a15804bb41c-1-1.jpg?is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /> <div class="title">
<%# <h5 class="mb0">Project #9</h5> %>
 </div>
</a>
</div>
</div>
<div class="col-md-3 col-sm-6 project fadeIn masonry-item">
<div class="image-tile inner-title hover-reveal text-center" style="">
<%# <a href="https://demo.colorlib.com/shapely/portfolio/project-8/" title="Project #8"> %>
<img width="1200" height="837" src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1448518184296-a22facb4446f-1-1.jpg" class="attachment-full size-full wp-post-image jetpack-lazy-image" alt="" loading="lazy" data-lazy-srcset="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1448518184296-a22facb4446f-1-1.jpg 1200w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1448518184296-a22facb4446f-1-1-300x209.jpg 300w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1448518184296-a22facb4446f-1-1-768x536.jpg 768w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1448518184296-a22facb4446f-1-1-1024x714.jpg 1024w" data-lazy-sizes="(max-width: 1200px) 100vw, 1200px" data-lazy-src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1448518184296-a22facb4446f-1-1.jpg?is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /> <div class="title">
<%# <h5 class="mb0">Project #8</h5>  %>
</div>
</a>
</div>
</div>
<div class="col-md-3 col-sm-6 project fadeIn masonry-item">
<div class="image-tile inner-title hover-reveal text-center" style="">
<%# <a href="https://demo.colorlib.com/shapely/portfolio/project-7/" title="Project #7"> %>
<img width="1200" height="837" src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1451186859696-371d9477be93-1-1.jpg" class="attachment-full size-full wp-post-image jetpack-lazy-image" alt="" loading="lazy" data-lazy-srcset="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1451186859696-371d9477be93-1-1.jpg 1200w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1451186859696-371d9477be93-1-1-300x209.jpg 300w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1451186859696-371d9477be93-1-1-768x536.jpg 768w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1451186859696-371d9477be93-1-1-1024x714.jpg 1024w" data-lazy-sizes="(max-width: 1200px) 100vw, 1200px" data-lazy-src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/photo-1451186859696-371d9477be93-1-1.jpg?is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /> <div class="title">
<%# <h5 class="mb0">Project #7</h5>  %>
</div>
</a>
</div>
</div>
</div>
</section>
</div><div id="shapely_home_testimonial-2" class="widget shapely_home_testimonial">
<section class="parallax-section testimonial-section">
<div class="parallax-window" data-parallax="scroll" data-image-src="http://demo.colorlib.com/wp-content/uploads/sites/59/2016/12/photo-1451417379553-15d8e8f49cde.jpg" style="height: 500px;">
<div class="container align-transform">
<div class="parallax-text image-bg testimonial">
<div class="row">
<div class="col-sm-12 text-center">
<h3>What Our Customers Say</h3>
</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
<div class="text-slider slider-arrow-controls text-center relative">
<ul class="slides" style="overflow: hidden;">
<li>
<p><p>Integer ut rutrum nulla, sit amet fringilla nisi. Nam nisl velit, vehicula at nibh sed, porttitor sollicitudin ante. Sed justo augue, vestibulum ut efficitur vitae, euismod et justo. Mauris sed mattis ante. Ut ligula lectus, consequat vitae neque ac, gravida hendrerit ante.</p>
</p>
<div class="testimonial-author-section">
<img width="150" height="150" src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/mike-muller-150x150.jpg" class="testimonial-img wp-post-image jetpack-lazy-image" alt="" loading="lazy" data-lazy-srcset="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/mike-muller-150x150.jpg 150w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/mike-muller-50x50.jpg 50w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/mike-muller.jpg 440w" data-lazy-sizes="(max-width: 150px) 100vw, 150px" data-lazy-src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/mike-muller-150x150.jpg?is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
<div class="testimonial-author">
<strong>John Doe</strong>
</div>
</div>
</li>
<li>
<p><p>Nunc sit amet lobortis nulla. Nunc ullamcorper, mi id luctus dictum, augue tortor dictum ipsum, nec congue arcu lorem in nisl. Duis neque lacus, viverra non mauris ac, pharetra rhoncus libero. Aliquam varius viverra ex, in venenatis magna ornare sit amet. Integer varius sit amet turpis eu ullamcorper.</p>
</p>
<div class="testimonial-author-section">
<img width="150" height="150" src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/Aigars-Silkalns-150x150.jpg" class="testimonial-img wp-post-image jetpack-lazy-image" alt="" loading="lazy" data-lazy-srcset="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/Aigars-Silkalns-150x150.jpg 150w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/Aigars-Silkalns-300x300.jpg 300w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/Aigars-Silkalns-768x768.jpg 768w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/Aigars-Silkalns-50x50.jpg 50w, https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/Aigars-Silkalns.jpg 800w" data-lazy-sizes="(max-width: 150px) 100vw, 150px" data-lazy-src="https://demo.colorlib.com/shapely/wp-content/uploads/sites/59/2016/03/Aigars-Silkalns-150x150.jpg?is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
<div class="testimonial-author">
<strong>Aigars Silkalns</strong>
</div>
</div>
</li>
</ul>
</div>
</div>
</div>

</div>
</div>

</div>
</section>


<div class="clearfix"></div>
</div><div id="shapely_home_parallax-3" class="widget shapely_home_parallax"> <section class="">
<div class="container">
<div class="row align-children">
<div class="col-md-7 col-sm-6 text-center mb-xs-24">
<img width="1000" height="693" class="img-responsive" alt="SEO Friendly" src="https://demo.colorlib.com/wp-content/uploads/sites/59/2016/12/photo-1440557653082-e8e186733eeb-1.jpg">
</div>
<div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
<div class="">
<h3>About TravelBug</h3><div class="mb32"><p>No matter who you are, or where you are going, our travel planning interface helps every type of traveler not only find the trip thats right for them, but get the best value every time.Customize your travel to over 80 destinations or choose from one of our custom-made packages.</p>
</div> </div>
</div>

</div>
</div>


</div>
<a class="btn btn-sm fade-half back-to-top inner-link" href="#top"><i class="fa fa-angle-up"></i></a>
</footer>
</div>
</div>
<script type="text/javascript">
			jQuery( document ).ready( function( $ ) {
				if ( $( window ).width() >= 767 ) {
					$( '.navbar-nav > li.menu-item > a' ).click( function() {
						window.location = $( this ).attr( 'href' );
					} );
				}
			} );
		</script>
<script type="text/javascript">
		(function () {
			var c = document.body.className;
			c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
			document.body.className = c;
		})();
	</script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=7.4.4' id='wp-polyfill-js'></script>
<script type='text/javascript' id='wp-polyfill-js-after'>
( 'fetch' in window ) || document.write( '<script src="https://demo.colorlib.com/shapely/wp-includes/js/dist/vendor/wp-polyfill-fetch.min.js?ver=3.0.0" defer></scr' + 'ipt>' );( document.contains ) || document.write( '<script src="https://demo.colorlib.com/shapely/wp-includes/js/dist/vendor/wp-polyfill-node-contains.min.js?ver=3.42.0" defer></scr' + 'ipt>' );( window.DOMRect ) || document.write( '<script src="https://demo.colorlib.com/shapely/wp-includes/js/dist/vendor/wp-polyfill-dom-rect.min.js?ver=3.42.0" defer></scr' + 'ipt>' );( window.URL && window.URL.prototype && window.URLSearchParams ) || document.write( '<script src="https://demo.colorlib.com/shapely/wp-includes/js/dist/vendor/wp-polyfill-url.min.js?ver=3.6.4" defer></scr' + 'ipt>' );( window.FormData && window.FormData.prototype.keys ) || document.write( '<script src="https://demo.colorlib.com/shapely/wp-includes/js/dist/vendor/wp-polyfill-formdata.min.js?ver=3.0.12" defer></scr' + 'ipt>' );( Element.prototype.matches && Element.prototype.closest ) || document.write( '<script src="https://demo.colorlib.com/shapely/wp-includes/js/dist/vendor/wp-polyfill-element-closest.min.js?ver=2.0.2" defer></scr' + 'ipt>' );( 'objectFit' in document.documentElement.style ) || document.write( '<script src="https://demo.colorlib.com/shapely/wp-includes/js/dist/vendor/wp-polyfill-object-fit.min.js?ver=2.3.4" defer></scr' + 'ipt>' );
</script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-includes/js/dist/hooks.min.js?ver=50e23bed88bcb9e6e14023e9961698c1' id='wp-hooks-js'></script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-includes/js/dist/i18n.min.js?ver=db9a9a37da262883343e941c3731bc67' id='wp-i18n-js'></script>
<script type='text/javascript' id='wp-i18n-js-after'>
wp.i18n.setLocaleData( { 'text direction\u0004ltr': [ 'ltr' ] } );
</script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-includes/js/dist/vendor/lodash.min.js?ver=4.17.19' id='lodash-js'></script>
<script type='text/javascript' id='lodash-js-after'>
window.lodash = _.noConflict();
</script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-includes/js/dist/url.min.js?ver=0ac7e0472c46121366e7ce07244be1ac' id='wp-url-js'></script>
<script type='text/javascript' id='wp-api-fetch-js-translations'>
( function( domain, translations ) {
	var localeData = translations.locale_data[ domain ] || translations.locale_data.messages;
	localeData[""].domain = domain;
	wp.i18n.setLocaleData( localeData, domain );
} )( "default", { "locale_data": { "messages": { "": {} } } } );
</script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-includes/js/dist/api-fetch.min.js?ver=a783d1f442d2abefc7d6dbd156a44561' id='wp-api-fetch-js'></script>
<script type='text/javascript' id='wp-api-fetch-js-after'>
wp.apiFetch.use( wp.apiFetch.createRootURLMiddleware( "https://demo.colorlib.com/shapely/wp-json/" ) );
wp.apiFetch.nonceMiddleware = wp.apiFetch.createNonceMiddleware( "8121f8b399" );
wp.apiFetch.use( wp.apiFetch.nonceMiddleware );
wp.apiFetch.use( wp.apiFetch.mediaUploadMiddleware );
wp.apiFetch.nonceEndpoint = "https://demo.colorlib.com/shapely/wp-admin/admin-ajax.php?action=rest-nonce";
</script>
<script type='text/javascript' id='contact-form-7-js-extra'>
/* <![CDATA[ */
var wpcf7 = {"cached":"1"};
/* ]]> */
</script>
<script data-minify="1" type='text/javascript' src='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/contact-form-7/includes/js/index.js?ver=1619425181' id='contact-form-7-js' defer></script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70' id='jquery-blockui-js' defer></script>
<script type='text/javascript' id='wc-add-to-cart-js-extra'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/shapely\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/shapely\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"https:\/\/demo.colorlib.com\/shapely\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
</script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=5.2.2' id='wc-add-to-cart-js' defer></script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4' id='js-cookie-js' defer></script>
<script type='text/javascript' id='woocommerce-js-extra'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/shapely\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/shapely\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=5.2.2' id='woocommerce-js' defer></script>
<script type='text/javascript' id='wc-cart-fragments-js-extra'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/shapely\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/shapely\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_9960c41794ab15d497d5a1022c7d1e19","fragment_name":"wc_fragments_9960c41794ab15d497d5a1022c7d1e19","request_timeout":"5000"};
/* ]]> */
</script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=5.2.2' id='wc-cart-fragments-js' defer></script>
<script type='text/javascript' id='wc-cart-fragments-js-after'>
		jQuery( 'body' ).bind( 'wc_fragments_refreshed', function() {
			var jetpackLazyImagesLoadEvent;
			try {
				jetpackLazyImagesLoadEvent = new Event( 'jetpack-lazy-images-load', {
					bubbles: true,
					cancelable: true
				} );
			} catch ( e ) {
				jetpackLazyImagesLoadEvent = document.createEvent( 'Event' )
				jetpackLazyImagesLoadEvent.initEvent( 'jetpack-lazy-images-load', true, true );
			}
			jQuery( 'body' ).get( 0 ).dispatchEvent( jetpackLazyImagesLoadEvent );
		} );
		
</script>
<script data-minify="1" type='text/javascript' src='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/themes/shapely/assets/js/skip-link-focus-fix.js?ver=1619425181' id='shapely-skip-link-focus-fix-js' defer></script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-includes/js/imagesloaded.min.js?ver=4.1.4' id='imagesloaded-js' defer></script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-includes/js/masonry.min.js?ver=4.2.2' id='masonry-js' defer></script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2b' id='jquery-masonry-js' defer></script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-content/plugins/woocommerce/assets/js/flexslider/jquery.flexslider.min.js?ver=2.7.2' id='flexslider-js' defer></script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-content/themes/shapely/assets/js/parallax.min.js?ver=20160115' id='shapely-parallax-js' defer></script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-content/themes/shapely/assets/js/owl-carousel/owl.carousel.min.js?ver=20160115' id='owl.carousel-js' defer></script>
<script type='text/javascript' id='shapely-scripts-js-extra'>
/* <![CDATA[ */
var ShapelyAdminObject = {"sticky_header":"1"};
/* ]]> */
</script>
<script data-minify="1" type='text/javascript' src='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/themes/shapely/assets/js/shapely-scripts.js?ver=1619425181' id='shapely-scripts-js' defer></script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-content/plugins/jetpack/vendor/automattic/jetpack-lazy-images/src/js/intersectionobserver-polyfill.min.js?ver=1.1.2' id='jetpack-lazy-images-polyfill-intersectionobserver-js' defer></script>
<script type='text/javascript' id='jetpack-lazy-images-js-extra'>
/* <![CDATA[ */
var jetpackLazyImagesL10n = {"loading_warning":"Images are still loading. Please cancel your print and try again."};
/* ]]> */
</script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-content/plugins/jetpack/vendor/automattic/jetpack-lazy-images/src/js/lazy-images.min.js?ver=1.1.2' id='jetpack-lazy-images-js' defer></script>
<script type='text/javascript' src='https://demo.colorlib.com/shapely/wp-includes/js/wp-embed.min.js?ver=5.7.1' id='wp-embed-js' defer></script>
<script>window.GA_ID='G-SEKJ4E9T4H'</script><script data-minify="1" src='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/flying-analytics/js/gtagv4.js?ver=1619425181' defer></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-SEKJ4E9T4H');</script><script src='https://stats.wp.com/e-202117.js' defer></script>
<script>
	_stq = window._stq || [];
	_stq.push([ 'view', {v:'ext',j:'1:9.6.1',blog:'191685220',post:'1863',tz:'0',srv:'demo.colorlib.com'} ]);
	_stq.push([ 'clickTrackerInit', '191685220', '1863' ]);
</script>
<script>"use strict";var wprRemoveCPCSS=function wprRemoveCPCSS(){var elem;document.querySelector('link[data-rocket-async="style"][rel="preload"]')?setTimeout(wprRemoveCPCSS,200):(elem=document.getElementById("rocket-critical-css"))&&"remove"in elem&&elem.remove()};window.addEventListener?window.addEventListener("load",wprRemoveCPCSS):window.attachEvent&&window.attachEvent("onload",wprRemoveCPCSS);</script><noscript><link rel='stylesheet' id='wp-block-library-css'  href='https://demo.colorlib.com/shapely/wp-includes/css/dist/block-library/style.min.css?ver=5.7.1' type='text/css' media='all' /><link data-minify="1" rel='stylesheet' id='wc-block-vendors-style-css'  href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/vendors-style.css?ver=1619443895' type='text/css' media='all' /><link data-minify="1" rel='stylesheet' id='wc-block-style-css'  href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style.css?ver=1619443895' type='text/css' media='all' /><link data-minify="1" rel='stylesheet' id='contact-form-7-css'  href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=1619443895' type='text/css' media='all' /><link data-minify="1" rel='stylesheet' id='prisna-social-counter-css'  href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/social-counter/styles/prisna-social-counter.css?ver=1619443895' type='text/css' media='all' /><link data-minify="1" rel='stylesheet' id='woocommerce-layout-css'  href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=1619443895' type='text/css' media='all' /><link data-minify="1" rel='stylesheet' id='woocommerce-smallscreen-css'  href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=1619443895' type='text/css' media='only screen and (max-width: 768px)' /><link data-minify="1" rel='stylesheet' id='woocommerce-general-css'  href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=1619443895' type='text/css' media='all' /><link data-minify="1" rel='stylesheet' id='bootstrap-css'  href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/themes/shapely/assets/css/bootstrap.min.css?ver=1619443895' type='text/css' media='all' /><link data-minify="1" rel='stylesheet' id='font-awesome-css'  href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/elementor/assets/lib/font-awesome/css/font-awesome.min.css?ver=1619443895' type='text/css' media='all' /><link crossorigin="anonymous" rel='stylesheet' id='shapely-fonts-css'  href='//fonts.googleapis.com/css?family=Raleway%3A100%2C300%2C400%2C500%2C600%2C700&#038;ver=5.7.1&#038;display=swap' type='text/css' media='all' /><link data-minify="1" rel='stylesheet' id='flexslider-css'  href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/themes/shapely/assets/css/flexslider.css?ver=1619443895' type='text/css' media='all' /><link data-minify="1" rel='stylesheet' id='shapely-style-css'  href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/themes/shapely/style.css?ver=1619443895' type='text/css' media='all' /><link rel='stylesheet' id='owl.carousel-css'  href='https://demo.colorlib.com/shapely/wp-content/themes/shapely/assets/js/owl-carousel/owl.carousel.min.css?ver=5.7.1' type='text/css' media='all' /><link data-minify="1" rel='stylesheet' id='owl.carousel.theme-css'  href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/themes/shapely/assets/js/owl-carousel/owl.theme.default.css?ver=1619443895' type='text/css' media='all' /><link data-minify="1" rel='stylesheet' id='jetpack_css-css'  href='https://demo.colorlib.com/shapely/wp-content/cache/min/59/shapely/wp-content/plugins/jetpack/css/jetpack.css?ver=1619443895' type='text/css' media='all' /></noscript></body>
</html>
