<%= form_for([@user, @trip]) do |f| %>
    <div class = 'triphome'>
        <%= f.label :start_date, 'Start Date:' %> 
        <%= f.date_field :start_date %> 
        
        <%= f.label :end_date, 'End Date:' %> 
        <%= f.date_field :end_date %><br>

        <%= f.label :num_of_people, 'No. of Total Travellers:' %>
        <%= f.text_field :num_of_people %><br>

        <%= f.label :traveller_names, 'Name of All Travellers:' %>
        <%= f.text_field :traveller_names %><br>

        <%= f.label :budget, 'Budget (in USD):' %>
        <%= f.text_field :budget, :value => '$' %><br>

        <%= f.collection_select :destination_id, @destinations, :id, :country %><br>

        <br>
        <%= f.submit "Continue to Destinations", class:"button3" %>
    <% end %>

    <%= button_to 'Logout', logout_path, method: :delete, class:"button2" %> 
    <%= button_to 'Back', :back, class:"button3" %>
</div>

