

<% @user.trips.each do |trip| %>
    <p> Number of travellers : <%= trip.num_of_people %></p>
    <p> Fellow Travellers : <%= trip.traveller_names %> </p>
    <p> Budget : <%= trip.budget%></p>
    <p> Destination : <%= trip.destination.location %></p>
    <%= link_to "View Trip Details", user_trip_path(@user,trip) %>
<%end%>

