<h2>Trip Itinerary & Details </h2>
<h3> Name : <%= @user.name %></h3>
<h3> Destination : <%= @trip.destination.location%></h3>

<h3> Itinerary :</h3>
<table class="table table-striped">
<tbody>
   <% @trip.hash_of_activities.each do |k,v|%>
   <tr>
      <td><%= k %></td>     
      <td>$<%= v %></td>
   </tr>
   <% end %>
</tbody>
</table>

<h4> Budget : <%= @trip.budget %></h4>
<h4> Total Expense : $<%= @trip.total_expense %></h4>
<%= link_to 'Back',destination_path(@trip.destination,trip_id:@trip.id) %> 
<p><%= image_tag("https://s3.envato.com/files/247495120/20180524-Capture0002-2-Edit.jpg") %></p>



