<h2>Trip Itinerary & Details </h2>
<h3> User Name : <%= @user.name %></h3>
<h3> Destination : <%= @trip.destination.location%></h3>
<h4> Itinerary : <%= @trip.activities %></h4>
<h4> Budget : <%= @trip.budget %></h4>
<h4> Expense : <%= @trip.expense %></h4>
<%= button_to 'Back',destination_path(@trip.destination), method: :get %> 
<p><%= image_tag("https://s3.envato.com/files/247495120/20180524-Capture0002-2-Edit.jpg") %></p>