<h2>Trip Itinerary & Details </h2>
<h3><%= @trip.destination.location%></h3>
<h3> Itinerary :</h3>

<% @trip.activities.each do |act| %>
<p><%= link_to act.title, activity_path(act,@trip) %></p>

<% end %>

<h4> Budget : $<%= @trip.budget %></h4>
<%= link_to 'Continue Making Itinerary',destination_path(@trip.destination,trip_id:@trip.id) %> 
<%= link_to 'View All User Trips', user_trips_path(@user) %>

<p><%= link_to image_tag(@trip.destination.image, :size => 500)%></p>

<% i = 0 %>
<% num = @trip.activities.length %>

<section id=timeline>
	<h1>A Flexbox Timeline</h1>
	<p class="leader">All cards must be the same height and width for space calculations on large screens.</p>
	<div class="demo-card-wrapper">
    <% while i < num  do %>
		<div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span><%= i+1 %></span>
				</div>
				<h2><%= @trip.activities[i].title %></h2>
			</div>
			<div class="body">
				<p><%= @trip.activities[i].text %></p>
				<img src="http://placehold.it/1000x500" alt="Graphic">
			</div>
		</div>
        <% if @trip.activities.length >= i+1 %>
		<div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span><%= i+2 %></span>
				</div>
				<h2><%= @trip.activities[i+1].title %></h2>
			</div>
			<div class="body">
				<p><%= @trip.activities[i+1].text %></p>
				<img src="http://placehold.it/1000x500" alt="Graphic">
			</div>
		</div>
        <% end %>
         <% if @trip.activities.length >= i+2 %>
		<div class="demo-card demo-card--step3">
			<div class="head">
				<div class="number-box">
					<span><%= i+3 %></span>
				</div>
				<h2><%= @trip.activities[i+2].title %></h2>
			</div>
			<div class="body">
				<p> <%= @trip.activities[i+2].text %></p>
				<img src="http://placehold.it/1000x500" alt="Graphic">
			</div>
		</div>
        <% end %>
         <% if @trip.activities.length >= i+3 %>
		<div class="demo-card demo-card--step4">
			<div class="head">
				<div class="number-box">
					<span><%= i+4 %></span>
				</div>
				<h2><%= @trip.activities[i+3].title %></h2>
			</div>
			<div class="body">
				<p><%= @trip.activities[i+3].text %></p>
				<img src="http://placehold.it/1000x500" alt="Graphic">
			</div>
		</div>
        <% end %>
        <% if @trip.activities.length >= i+4 %>
		<div class="demo-card demo-card--step5">
			<div class="head">
				<div class="number-box">
					<span><%= i+5 %></span>
				</div>
				<h2><%= @trip.activities[i+4].title %></h2>
			</div>
			<div class="body">
				<p><%= @trip.activities[i+4].text %></p>
				<img src="http://placehold.it/1000x500" alt="Graphic">
			</div>
		</div>
        <% end %>
        <% i = i+5 %>
	</div>
    <% end %>
</section>

