<%= link_to 'Continue Making Itinerary',destination_path(@trip.destination,trip_id:@trip.id) %> 
<%= link_to 'View All User Trips', user_trips_path(@user) %>
<%# 
<p><%= link_to image_tag(@trip.destination.image, :size => 500)%>


<% i = 0 %>
<% num = @trip.activities.length %>

<section id=timeline>
	<h1><%= @trip.destination.location%></h1>
	<p class="leader"> Budget : $<%= @trip.budget %></p>
    <p class="leader"> Travel Dates : <%= @trip.start_date.strftime("%m/%d/%Y") %> to <%= @trip.end_date.strftime("%m/%d/%Y") %></p>
	<div class="demo-card-wrapper">
    <% while i <= num  do %>
		<div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span><%= i+1 %></span>
				</div>
				<h2><%= @trip.activities[i].title %></h2>
			</div>
			<div class="body">
				<p><%= @trip.activities[i].text %></p>
				<%= link_to image_tag(@trip.activities[i].img_url, :size => 250), activity_path(@trip.activities[i],@trip) %>
			</div>
		</div>
        <% if @trip.activities.length > i+1 %>
		<div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span><%= i+2 %></span>
				</div>
				<h2><%= @trip.activities[i+1].title %></h2>
			</div>
			<div class="body">
				<p><%= @trip.activities[i+1].text %></p>
				<%= link_to image_tag(@trip.activities[i+1].img_url, :size => 250), activity_path(@trip.activities[i+1],@trip) %>
			</div>
		</div>
        <% else %>
        <div class="demo-card" id="lol">
			 
		</div>
        <% end %>
         <% if @trip.activities.length > i+2 %>
		<div class="demo-card demo-card--step3">
			<div class="head">
				<div class="number-box">
					<span><%= i+3 %></span>
				</div>
				<h2><%= @trip.activities[i+2].title %></h2>
			</div>
			<div class="body">
				<p> <%= @trip.activities[i+2].text %></p>
				<%= link_to image_tag(@trip.activities[i+2].img_url, :size => 250), activity_path(@trip.activities[i+2],@trip) %>
			</div>
		</div>
        <% else %>
        <div class="demo-card" id="lol">
			
		</div>
        <% end %>
         <% if @trip.activities.length > i+3 %>
		<div class="demo-card demo-card--step4">
			<div class="head">
				<div class="number-box">
					<span><%= i+4 %></span>
				</div>
				<h2><%= @trip.activities[i+3].title %></h2>
			</div>
			<div class="body">
				<p><%= @trip.activities[i+3].text %></p>
				<%= link_to image_tag(@trip.activities[i+3].img_url, :size => 250), activity_path(@trip.activities[i+3],@trip)%>
			</div>
		</div>
        <% else %>
        <div class="demo-card" id="lol">
			
		</div>
        <% end %>
        <% if @trip.activities.length > i+4 %>
		<div class="demo-card demo-card--step5">
			<div class="head">
				<div class="number-box">
					<span><%= i+5 %></span>
				</div>
				<h2><%= @trip.activities[i+4].title %></h2>
			</div>
			<div class="body">
				<p><%= @trip.activities[i+4].text %></p>
				<%= link_to image_tag(@trip.activities[i+4].img_url, :size => 250), activity_path(@trip.activities[i+4],@trip)%>
			</div>
		</div>
        <% else %>
        <div class="demo-card" id="lol">
			
		</div>
        <% end %>
        <% i = i+5 %>
	</div>
    <% end %>
</section>

