
<h2><%= @destination.location%><h2>
<h3><%= @destination.country%></h3>
<h4><%= link_to 'Go Back To All Destinations',destinations_path(trip_id:@trip.id) %></h4>
<%= button_to "Add Destination", add_destination_path(destination:@destination.id,trip:@trip.id)%>
<p> Average Trip Budgets For <%= @destination.location%> Trips :
 $<%= Trip.average_budget_by_destination(@destination.id) %></p>
 <h3>Activities</h3>
<% @destination.activities.each do |activity| %>
<ul>
    <%=link_to activity.name, activity_path(activity,trip_id:@trip.id) %>
</ul>
<%end%>

<h3><%=link_to "Dining", destination_foods_path(@destination) %></h3>
 <p><%= image_tag(@destination.image, :size => "780x540") %></p>





