<h2><%= @activity.name%><h2>
<h4> Description: <%= @activity.description %></h4>
<h4> Price: $<%= @activity.price %></h4>

<%= button_to 'ðŸ‘', like_path, method: :post, params: { :activity_id => @activity.id, emoji: 'ðŸ‘', user_id: @trip.user.id } %> | <p><%= @likes %></p>

<%= button_to 'ðŸ‘Ž', like_path, method: :post, params: { :activity_id => @activity.id, emoji: 'ðŸ‘Ž', user_id: @trip.user.id } %> | <p><%= @dislikes %></p>
<%= button_to 'Add Activity',add_activities_path(trip:@trip, activity:@activity, destination:@destination), method: :post %> 
<p><%= image_tag @activity.image %></p>


