<h2><%= @activity.name%><h2>
<h4> Description: <%= @activity.description %></h4>
<p><%= image_tag @activity.image %></p>



<%= button_to 'ðŸ‘', likes_path, method: :post, params: { :activity_id => @activity.id, emoji: 'ðŸ‘', user_id: User.first.id } %> | <p><%= @activity.likes_count %></p>

<%= button_to 'ðŸ‘Ž', likes_path, method: :post, params: { :activity_id => @activity.id, emoji: 'ðŸ‘Ž', user_id: User.first.id } %> | <p><%= @activity.dislikes_count %></p>