<h2><%= @activity.name%><h2>
<h4> Description: <%= @activity.description %></h4>
<h4> Price: $<%= @activity.price %></h4>
<%= button_to 'Add Activity',add_activities_path(trip:@trip, activity:@activity, destination:@destination), method: :post %> 
<p><%= image_tag @activity.image %></p>



<%= button_to 'ðŸ‘', likes_path, method: :post, params: { :activity_id => @activity.id, emoji: 'ðŸ‘', user_id: User.first.id } %> | <p><%= @likes %></p>

<%= button_to 'ðŸ‘Ž', likes_path, method: :post, params: { :activity_id => @activity.id, emoji: 'ðŸ‘Ž', user_id: User.first.id } %> | <p><%= @dislikes %></p>