<div style ="text-align:center">
<br><br>
<%= link_to 'Continue Making Itinerary',destination_path(@trip.destination,trip_id:@trip.id) %> 
<%= link_to 'View Itinerary',trip_path(@user,@trip) %> 
<h3><%= @title %></h3>
<br>
<%= link_to image_tag(@activity.img_url, :size => 500)%>
<br><br>

<%= form_for(@trip) do |f| %>
    <%= f.hidden_field :trip_id, :value => @trip_id %>
    <%= f.hidden_field :activity_id, :value => @activity.id %>
    <button id="btn2" onclick="myFunction()"> 
    <% if @activity.trip_id != @trip.id %>
    Add To Itinerary
    <% else %>
    Added To Itinerary
    <% end %>
    </button>
    <%= f.submit "❤️" %>
<% end %>

<%# <%= form_for(@user) do |f| %>
    <%# <%= f.hidden_field :trip_id, :value => @trip_id %>
    <%# <%= f.hidden_field :activity_id, :value => @activity.id %> 
    <%# <button id="btn1" onclick="myFunction2()"> Like <%= f.submit "+" %>
    <%# </button> %>
<%# <% end %> 

<script>
  function myFunction() {
      var change = document.getElementById("btn2");
      if (change.innerText == "Added To Itinerary")
      {
          change.innerText = "Add To Itinerary";
      }
      else {
          change.innerText = "Added To Itinerary";
      }
  }

    function myFunction2() {
      var change = document.getElementById("btn1");
      if (change.innerHTML == "Like")
      {
          change.innerHTML = "Liked";
      }
      else {
          change.innerHTML = "Like";
      }
  }

</script>

<br><br>
<h5><%= @activity.text %></h5>
<br><br>
<h5>Address : <%= @activity.address %></h5><br><br>
<h5>How To Get There?</h5>
 <iframe width="100%" 
  height="500" 
  frameborder="0" 
  scrolling="no" 
  marginheight="0" 
  marginwidth="0"  src="https://www.google.com/maps/embed/v1/place?q=<%=@activity.lat%>,<%=@activity.lng%>&amp;key=AIzaSyBAeaMywiXmsyhhPIabeTCZxBq6FqLAGWU"></iframe>
 
</div>
<br><br>
<br><br>


