

<div style ="text-align:center">
<br><br>
<h3><%= @title %></h3>
<br><br>
 <br>

<%= link_to image_tag(@img_url, :size => 500)%>
<br><br>
<i class="fa fa-heart fa-3x"></i>
<br><br>
<h5><%= @text %></h5>
<br><br>
<h5>Address : <%= @address %></h5><br><br>
<h5>How To Get There?</h5>
 <iframe width="100%" 
  height="500" 
  frameborder="0" 
  scrolling="no" 
  marginheight="0" 
  marginwidth="0"  src="https://www.google.com/maps/embed/v1/place?q=<%=@lat%>,<%=@lng%>&amp;key="></iframe>
 
</div>
<br><br>
<br><br>


