<nav id="header1" class="navbar transparent navbar-expand-lg navbar-light">
   <% if @user && @user.id %>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#"><%= link_to 'TravelBug ðŸž', home_path(), method: :get, class:"button3" %></a>
      <a class="nav-item nav-link" href="#"><%= link_to 'New Trip', user_path(@user), method: :get, class:"button3" %></a>
      <a class="nav-item nav-link" href="#"> <%= link_to 'Edit Profile', edit_user_path(@user), method: :get, class:"button2" %>  </a>
      <%# <a class="nav-item nav-link" href="#"><%= link_to 'View Favorites', likes_path(@user), method: :get, class:"button3" %></a> 
      <a class="nav-item nav-link" href="#"> <%= link_to 'View All Trips', user_trips_path(@user), method: :get, class:"button3" %></a>
    </div>
    <%= button_to 'Logout', logout_path, method: :delete, class: "btn",id:"btn_logout" %>
  </div>
  <% else %>
 <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#"><%= link_to 'TravelBug ðŸž', home_path(), method: :get, class:"button3" %></a>
      <a class="nav-item nav-link" href="#"><%= link_to 'Login', new_login_path(), method: :get, class:"button3" %></a>
      <a class="nav-item nav-link" href="#"> <%= link_to 'Signup', new_user_path(), method: :get, class:"button2" %>  </a>
    </div>
  </div>
  <% end %>

</nav>