<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Phase2project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
  </head>

  <body>

    <script>
        function goBack() {
        window.history.back(); }
    </script>

    <div class='all_backgrounds'>
        <% if flash[:errors]  %>
            <% flash[:errors].each do |error| %>
                <%= error %>
            <% end %>
        <% end %>

        <%= yield %>
    </div>

  </body>
</html>
